@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  --color-primary: #f97316; /* Naranja */
  --color-bg: #181818; /* Fondo principal: casi negro */
  --color-secondary: #1f1f1f; /* Fondo de tarjetas o secciones */
  --color-text: #aaaaaa; /* Texto claro */
  --color-accent: #ea580c; /* Hover o detalles */
  --color-surface-dark: #404042;
}
.btn {
  @apply hover:text-primary border-primary bg-primary rounded-full border-2 px-14 py-3 text-center text-lg text-black uppercase transition-all duration-200 hover:bg-transparent;
}

h1 {
  @apply mb-5 text-5xl;
}
h2 {
  @apply mb-5 text-4xl;
}
