---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="home">
  <h1>Vienvenido a Training Hub 🙌</h1>
  <p>donde podras ver tu progreso de tus entrenamientos a diario 😊👌</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, provident
    natus? Sunt magnam nisi similique illo dolorem fugit modi voluptatem qui
    quaerat accusantium atque tenetur, sapiente assumenda sint accusamus animi
    aut quia pariatur earum! Non autem, nobis sed, blanditiis reprehenderit
    assumenda voluptatum dignissimos facere mollitia, pariatur numquam fugiat
    tempore adipisci distinctio? Numquam aliquam nam ab iusto, quo temporibus
    neque sit maiores veniam. Assumenda consequuntur sit fugit voluptate,
    sapiente maxime labore eos suscipit excepturi, soluta officia nulla fugiat
    in ipsum vel ex qui accusamus. Quos itaque sunt iste doloribus similique
    eveniet odio libero inventore aliquam maiores, minima a, quae enim?
    Provident voluptate aspernatur eligendi! Laboriosam hic assumenda ut
    recusandae esse vel aut alias iusto dolore porro incidunt fugiat, aliquam
    nisi tempora quas mollitia accusamus sint, veritatis explicabo.
    Consequuntur, aperiam quisquam tenetur explicabo consectetur magnam
    deleniti! Aut exercitationem voluptates quaerat alias repellat temporibus
    excepturi, corrupti provident ut illo id! Deserunt totam perspiciatis
    eveniet, eligendi molestias porro ratione obcaecati vero fugiat, assumenda
    repudiandae, tempore velit quam? Vitae quibusdam unde blanditiis tempora
    ducimus voluptas. Aliquam officia delectus porro eius corrupti magnam ex
    nihil perspiciatis! Rem magni quo deserunt officia sint debitis, harum quis
    est laborum hic reprehenderit laudantium quos. Similique magnam odit
    repellat ut dolorem omnis asperiores, accusamus tempora expedita laudantium
    sunt architecto reiciendis est doloremque dignissimos recusandae, alias
    mollitia aspernatur impedit veniam dicta nobis, assumenda error. Quod
    quisquam possimus dolorem fugit consequuntur similique reiciendis dolor
    modi. Quos, quas modi nobis minima, a quod repudiandae praesentium magnam ut
    cum, porro nesciunt dicta quia dolorem pariatur cumque facilis. Dolores
    ipsum architecto perspiciatis adipisci reiciendis mollitia a corrupti animi
    molestias qui eum praesentium rerum, laudantium expedita obcaecati!
    Voluptatem rerum id pariatur aspernatur facilis nostrum ducimus nesciunt,
    atque enim expedita molestiae facere sequi rem temporibus ipsa illo
    voluptatum repellat. Ratione neque fugit corporis aliquam earum iure sunt
    rerum ducimus, corrupti amet reprehenderit maxime veniam, sequi labore, quam
    debitis atque repudiandae temporibus iusto! Officia rem at tempore
    exercitationem ipsam blanditiis illum, enim aut consequatur laboriosam
    facere, in unde quod facilis corporis vitae deserunt ullam iusto modi totam
    a animi itaque iste id. Possimus totam quasi iusto laboriosam ducimus beatae
    mollitia sed incidunt excepturi, aliquid blanditiis vel asperiores
    dignissimos voluptas vitae deleniti tempora animi iste error explicabo vero
    nisi consequuntur quos? Odio cupiditate doloremque delectus porro corrupti a
    modi nihil eum dolores voluptate optio voluptatem ut neque sequi voluptatum
    iste asperiores distinctio, assumenda cum quod praesentium itaque, accusamus
    reprehenderit. Neque repudiandae voluptatem perspiciatis optio quam
    doloremque, iste fugit quibusdam officia nesciunt tempore quaerat,
    exercitationem necessitatibus sequi omnis quasi soluta aspernatur mollitia
    itaque. Dolore saepe perspiciatis at quasi nostrum, minus quae nam.
    Reprehenderit reiciendis hic totam deserunt, velit iusto eum voluptatum
    itaque alias asperiores illum id corporis accusamus magnam eligendi quaerat
    necessitatibus nesciunt minus nulla quibusdam unde? Nam minima alias aperiam
    ducimus libero enim ipsam est reprehenderit laudantium quo culpa impedit
    animi nesciunt magni porro quasi temporibus molestias rerum, eligendi vitae
    eius? Qui ut ex consectetur, ipsam accusamus dolore facere dolorem eius quam
    vel praesentium repudiandae quaerat enim ducimus incidunt illum. Velit,
    sunt? Sed cum commodi ut eligendi praesentium dolorem quod esse tenetur
    dicta amet, porro cupiditate labore in blanditiis autem doloribus nihil
    doloremque nisi perferendis temporibus similique unde iusto consequuntur
    adipisci! Nobis natus consectetur inventore cumque ducimus, expedita
    perspiciatis. Itaque blanditiis ex repellat animi, architecto deleniti
    aliquam voluptate dolorum? Iste, officia deleniti quibusdam, necessitatibus
    quod voluptatum hic, aperiam eos qui architecto veritatis odit placeat
    tempora cupiditate modi in quasi maxime quas voluptas at amet beatae. Optio
    nihil adipisci quibusdam in quas aut voluptatibus ipsa repellendus quisquam!
    Iste ipsam blanditiis quaerat enim? Sit facilis voluptas dicta fugiat
    suscipit mollitia, nisi aliquid? Rem nihil provident, minima fuga dolores
    soluta sequi similique alias neque eos nulla minus, aperiam consectetur
    distinctio? Fugiat facere maxime similique distinctio natus in veniam aut,
    tempore inventore dolores reiciendis ex aliquid sequi blanditiis temporibus
    veritatis officia corporis, cum, id itaque tempora architecto dicta quos ea.
    Quis beatae est et aspernatur quidem blanditiis nemo amet non quod
    temporibus eum aliquid itaque ullam, doloremque corrupti reiciendis vero
    numquam hic impedit dignissimos reprehenderit voluptatem tempore enim
    deleniti. Ullam labore cum ducimus ipsam magnam, vero facilis officia libero
    quasi commodi voluptatem vel doloremque sapiente optio, reprehenderit eos
    ipsum? Pariatur tempore architecto dolorem magnam, voluptates commodi sunt!
    Voluptatum, dolore animi labore numquam eius, saepe officiis sapiente,
    eveniet ratione eligendi exercitationem sequi commodi aspernatur vero
    praesentium! Sed natus officia suscipit ipsum excepturi sequi enim
    accusantium, fuga ut deserunt, earum consectetur voluptas reprehenderit
    tempora aliquid repudiandae cum amet, architecto ipsam facilis. Quam sed
    tempore odit, cumque quisquam quibusdam accusantium, consectetur ducimus
    animi alias quasi dolore, voluptatem rerum ullam? Tempore, dicta explicabo
    voluptate doloribus vero fugit illo labore, ut cum optio mollitia
    repudiandae unde quod harum perspiciatis libero nam soluta nemo debitis
    inventore ipsum. Quia odit iusto hic aspernatur ut, voluptas facere sed
    reiciendis adipisci ratione aperiam vel maiores debitis libero enim quam
    optio dolore, eos molestias. Dolorum tempore eligendi deleniti nihil
    delectus debitis. Ut qui magni quas iusto, expedita rerum rem. Aliquid error
    perspiciatis, dolorem, sed deserunt quae cum eum alias aliquam debitis earum
    delectus fugiat! Ea minus atque possimus aspernatur vel quasi praesentium
    pariatur alias adipisci voluptatum corrupti quaerat sequi, sit quod,
    blanditiis, nobis reprehenderit suscipit minima? Fuga labore amet inventore
    quaerat quo dicta est id ipsa repellat rerum, voluptatum quod rem maiores
    repudiandae hic quasi ipsam! Tempora beatae dicta, totam illo debitis cum
    architecto doloribus adipisci aliquam nobis repudiandae. Quibusdam cumque
    commodi corporis ipsum blanditiis nisi harum aliquam numquam suscipit,
    dolore vero corrupti rerum, nemo voluptates doloremque consequuntur esse.
    Vel quis culpa vitae sit nesciunt voluptate molestias veniam, quo illo
    aperiam perferendis inventore rem corporis, autem temporibus cupiditate iure
    modi, minus quod illum repudiandae? Quos illo molestiae minima perferendis
    quis sed rem cupiditate nihil at inventore odio culpa veniam magni corporis
    quasi alias quo ullam assumenda quisquam nam, libero delectus repellat unde
    quaerat? Est repellendus laboriosam atque vel eos, quo dolor, illo pariatur
    error amet dolorem dolorum mollitia reprehenderit voluptate qui consectetur
    totam tenetur ipsam harum autem, nostrum dolore cum minus ea? Ducimus.
  </p>
  <button class="btn">jaskaj</button>
</MainLayout>
