---
import StatCard from "@components/StatCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="home">
  <!-- Concept -->
  <section class="mx-auto max-w-7xl">
    <h1 class="">
      Bienvenido a <span class="text-primary">Training Hub</span> 游뗿
    </h1>
    <p>
      donde podr치s ver tu progreso de tus entrenamientos a diario 游땕游녧 <br /> Lorem
      ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, magnam! Libero
      et ratione doloribus facilis alias nulla accusamus, laudantium ipsa sunt saepe
      eum dignissimos necessitatibus, deleniti, impedit id reiciendis quaerat.
    </p>
  </section>

  <!-- Cards -->
  <section class="mx-auto mt-14 max-w-7xl">
    <h2>Datos importantes 游때游녨:</h2>
    <div class="flex w-full flex-wrap justify-center gap-5 md:flex-nowrap">
      <StatCard value="5" label="entrenamientos esta semana" />
      <StatCard
        value="240"
        label="minutos entrenados en el 칰ltimo entrenamiento"
      />
      <StatCard value="Boxeo" label="칰ltimo entrenamiento" />
    </div>
  </section>

  <!-- Form -->
  <section class="mx-auto mt-14 max-w-7xl">
    <h2>Ingrese su nuevo entrenamiento! 游땕游뗿</h2>

    <form id="training-form" class="mx-auto">
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="group relative z-0 mb-5 w-full">
          <input
            type="text"
            name="type-training"
            id="type-training"
            class="text-heading border-surface-dark-medium focus:border-brand peer block w-full appearance-none border-0 border-b-2 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            placeholder=" "
            required
          />
          <label
            for="type-training"
            class="peer-focus:text-fg-brand absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
            >Tipo de entrenamiento</label
          >
        </div>
        <div class="group relative z-0 mb-5 w-full">
          <input
            type="number"
            name="duration"
            id="duration"
            class="text-heading border-surface-dark-medium focus:border-brand peer block w-full appearance-none border-0 border-b-2 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            placeholder=" "
            required
          />
          <label
            for="duration"
            class="peer-focus:text-fg-brand absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
            >Duraci칩n, en minutos</label
          >
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="group relative z-0 mb-5 w-full">
          <input
            type="number"
            min="1"
            max="5"
            name="intensity"
            id="intensity"
            class="text-heading border-surface-dark-medium focus:border-brand peer block w-full appearance-none border-0 border-b-2 bg-transparent px-0 py-2.5 text-sm focus:ring-0 focus:outline-none"
            placeholder=" "
            required
          />
          <label
            for="intensity"
            class="peer-focus:text-fg-brand absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4"
            >Intensidad del entrenamiento (1-5)</label
          >
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </section>

  <!-- Lista de los 칰ltimos entrenamientos -->
  <section class="mx-auto mt-14 max-w-7xl">
    <h2>Lista de sus 칰ltimos entrenamientos 游때游녧</h2>

    <div
      class="bg-secondary border-surface-dark relative overflow-x-auto rounded-xl border shadow-xs"
    >
      <table class="w-full text-left text-sm rtl:text-right">
        <thead
          class="bg-accent rounded-base border-surface-dark border-b text-sm"
        >
          <tr>
            <th scope="col" class="px-6 py-3 text-base font-medium">
              Entrenamiento
            </th>
            <th scope="col" class="px-6 py-3 text-base font-medium"> Fecha </th>
            <th scope="col" class="px-6 py-3 text-base font-medium">
              Duraci칩n
            </th>
            <th scope="col" class="px-6 py-3 text-base font-medium">
              Intensidad
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-neutral-primary border-surface-dark border-b">
            <th
              scope="row"
              class="text-heading px-6 py-4 font-medium whitespace-nowrap"
            >
              Boxeo
            </th>
            <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">
              10/01/26
            </td>
            <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">
              60 min
            </td>
            <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">
              游댠游댠游댠
            </td>
          </tr>
          <tr class="bg-neutral-primary border-surface-dark border-b">
            <th
              scope="row"
              class="text-heading px-6 py-4 font-medium whitespace-nowrap"
            >
              Calistenia
            </th>
            <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">
              09/01/26
            </td>
            <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">
              60 min
            </td>
            <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">
              游댠游댠游댠
            </td>
          </tr>
          <tr class="bg-neutral-primary">
            <th
              scope="row"
              class="text-heading px-6 py-4 font-medium whitespace-nowrap"
            >
              Boxeo
            </th>
            <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">
              08/01/26
            </td>
            <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">
              60 min
            </td>
            <td class="text-heading px-6 py-4 font-medium whitespace-nowrap">
              游댠游댠游댠
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</MainLayout>
