<nav class="bg-secondary/80 fixed start-0 top-0 z-20 w-full backdrop-blur-sm">
  <div
    class="mx-auto flex max-w-7xl flex-wrap items-center justify-between p-2"
  >
    <a href="/" class="flex items-center space-x-1 rtl:space-x-reverse">
      <img src="/logo.png" class="h-12" alt="Flowbite Logo" />
      <span
        class="text-heading self-center text-2xl font-semibold whitespace-nowrap text-white"
        >Training <span class="text-primary">Hub</span>
      </span>
    </a>
    <button
      id="menu-btn"
      type="button"
      class="text-body hover:bg-neutral-secondary-soft hover:text-heading focus:ring-neutral-tertiary inline-flex h-10 w-10 items-center justify-center rounded-xl p-2 text-sm focus:ring-2 focus:outline-none md:hidden"
    >
      <span class="sr-only">Open main menu</span>
      <span class="icon-[mingcute--menu-fill] size-8 text-white"></span>
    </button>
    <div id="menu" class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="rounded-base mt-4 flex flex-col space-y-2 p-4 font-medium md:mt-0 md:flex-row md:space-y-0 md:space-x-8 md:p-0 rtl:space-x-reverse"
      >
        <li>
          <a
            href="#"
            class="bg-surface-dark text-primary block rounded px-3 py-2 md:bg-transparent md:p-0"
            aria-current="page">Inicio</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-heading hover:bg-surface-dark block rounded px-3 py-2 text-white md:border-0 md:p-0 md:hover:bg-transparent"
            >Entrenamientos</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-heading hover:bg-surface-dark block rounded px-3 py-2 text-white md:border-0 md:p-0 md:hover:bg-transparent"
            >Progreso</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const MenuBtn = document.getElementById("menu-btn") as HTMLButtonElement;
  const Menu = document.getElementById("menu") as HTMLDivElement;

  MenuBtn.addEventListener("click", () => {
    Menu.classList.toggle("hidden");
  });
</script>
