---
interface Props {
  label: string;
  // value: string;
  id?: string;
}

const { label, id } = Astro.props;
---

<div class="bg-surface-dark w-full space-y-3 rounded-xl p-10">
  <p id={id} class="text-primary text-6xl font-semibold"></p>
  <p class="text-xl">{label}</p>
</div>
